.main{
    /* height: 800px;
    width: 45vw; */
}


.image{
    z-index: -1;
    height: 800px;
    width: 45vw;
}
.header{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: -150px;
    
}