.cardStyle{
    height: 280px;
    padding : 0px;
    margin: 12px 0px 5px 50px;
}

.h2Tag {
    display: block;
    margin: 12px 0px 5px 0px;
    padding: 0px;
    color: #878787;
    font-family: 'Roboto';
}

.ultag {
    list-style: none;  /* Remove default list dots */
    padding: 0px;
    margin: 0px;
    display: flex;     /* Arrange items side-by-side */
    flex-wrap: nowrap;
    height: 250px;
}

.liDiv{
    display: flex ;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 250px;
    margin: 5px;
    padding: 10px;
}

.headerPara{
    margin : 0px;
    position: absolute;
    top: 20px;
    left: 30px;
    color: #72DB73;
    font-size : 35px;
    font-family : 'Single Day' ;
}

.headerImg{
    position: fixed;
    right: 120px;
    top: 20px;
    height: 60px;
    width: 60px;   
}

.browseBody{
    font-family: 'Roboto';
    font-size : 20px;
    color: white;
    margin: 15px 0px 2px 50px;
    padding: 0px;
}

.dashboardDiv{
    height: 100vh;
    width: 100vw;
    padding: 0.6rem 6rem;
    background-color: black;
    position : relative;
}