/* .container3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
} */

.vertical{
    margin-left: -40px;
}


.container3{
    background-color: black;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.dashboardBrowseButton{
    background-color: #148A08;
    border: 1px solid #148A08 ;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 180px;
    padding: 12px;
    cursor: pointer;
    position : absolute ;
    top: 570px;
    left: 900px;
}